body {
	font-family: $font-family-base;
	color: $font-color-base;
}

h1,
h2,
h3,
h4,
h5, 
h6,
p, 
span,
br {
	font-family: $font-family-base;
	color: $font-color-base;

	max-width: 700px;

	// highlight cursor color
	&::selection {
		background: $routez-secondary; /* WebKit/Blink Browsers */
	}

	&::-moz-selection {
		background: $routez-secondary; /* Gecko Browsers */
	}
}

.title {
	font-family: $font-family-secondary;
	font-weight: 700;
	text-align: center;

	&--large {
		font-size: 32px
	}
}