$routez-primary: #4A84FC;
$routez-primary-dark: #3F70D6;

$routez-secondary-light: #F4F8FE;
$routez-secondary: #DDECFE;
$routez-secondary-dark: #D2E0F1;

$routez-black: #494949;

$routez-grey: #C6C4CF;
$routez-grey-light: #F6F5F9;
$routez-grey-light-dark: #EAE9ED;

$routez-danger: #EA1601;
$routez-danger-dark: #D31401;
$routez-warning: #FAD202;
$routez-succes: #64BC26;